@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 10px;
}

.selected {
  color: red;
}

.previous,
.next {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: deepskyblue;
  color: white;
}
